*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 670px;
    height: 432px;
    border: 1px solid black;
    border-radius: 30px;
}
.container-header{
    border: 1px solid black;
    height: 70px;
    border-radius: 26px 26px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.horario-atual{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proximo-metro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    height: 50px;
    width: 50px;
}
.back{
    background-image: url('../img/mapa.png'); 
    background-size: cover;   
    height: 359px;
    border-radius: 33px;
}